body {
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  font-family: Manrope;
}

h1,h2,h3,p {
  margin: 0px;
  text-decoration: none;
}

h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 1;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.015em;

}

h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 1;
  font-size: 24px;
  line-height: 35px;
}

h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

p {
  font-family: Manrope;
  font-style: normal;
  font-weight: 1;
  font-size: 16px;
  line-height: 25px;
}

header {
  background: #9DA6FE;
  height: 85vh;
}

.wrapper {
  margin: 0 auto;
  padding: 16px 24px;
  max-width: 1165px;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(24, 26, 27, 0.1);
  height: 75px;
}

.header_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1165px;
  margin: 0 auto;
  position: relative;


}

.name {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  background: #181A1B;
  margin-right: 30px;
}

.name h3 {
  color: #FFFFFF;
}

.name_description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_contacts {
  display: flex;
  flex-direction: row;
}

.about_contacts p {
  margin-right: 25px;
}

main {

}

.avatar{
  margin-right: 16px;
}

.avatar img {
  width: 56px;
  height: 56px;
}

/* main */

.works {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.big_container{
  margin-bottom: 24px;
  width: 100%;
  border-radius: 16px;
}

.work {
  width: 100%;
  height: 580px;
  background: #e5e5e5;
  border-radius: 16px;
  background-image: url("img/bergamotik_preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
